body {font-family:Arial, Sans-Serif;}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
a {color:#0067ab; text-decoration:none;}
a:hover {text-decoration:underline;}

.form{
      
  font-family: "roboto", sans-serif;
  position: relative;
  background: #b3e9ff;
  opacity: 99%;
  max-width: 350px;
  margin: 60px 0 60px 280px;
  padding: 50px 45px 30px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  min-height: 300px;


}
.form input[type='text'], input[type='email'], input[type='password'] {
  width: 220px; border-radius: 2px;
  border: 1px solid #CCC; 
  padding: 10px; 
  color: #333; 
  font-size: 14px; 
  margin-top: 10px;
}

.form input[type='submit']{
  padding: 10px 25px 8px; 
  color: #fff; 
  background-color: #0067ab; 
  text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
  font-size: 15px; 
  box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
  border: 1px solid #0164a5; 
  border-radius: 2px; 
  margin-top: 10px; 
  cursor:pointer;
}
.form input[type='submit']:hover {
background-color: #024978;
} 




*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
    
}
a {
    text-decoration: none;
    color: #000;
}
.row{
    width: 100%;
}
/* header */
header{
  display: flex;
  justify-content: space-between;
  padding: 12 50px;
  height: 70px;
  align-items: center;
  background: radial-gradient(#fff , #1489d6);
  position: fixed;
  z-index: 999;
}
/* article */
article{
    float: left;
    margin-top: 70px;
    width: 15%;
    left: 5px;
    z-index: 999;
    position: fixed;
    border-radius: 10px;
}

/* aside */
aside{
    float: left;
    margin-top: 70px;
    width: 85%;
    min-height: 450px;
    margin-left: 15%;
    
}
/* footer */
footer{
  float: left;
  width: 100%;
  height: 165px;
}
section{
  float: left;
}
.gt{
  margin-left: 20px;
  margin-top: 20px;
  background-color: #eeeeee;
}
.logo{
    flex: 1;
}


/* tìm kiếm */
.search input[type='text'] {
  width: 150px; border-radius: 2px;
  border: 1px solid #CCC; 
  padding: 4px; 
  color: #333; 
  font-size: 14px; 
  margin-top: 10px;
}
.search input[type='submit']{
  padding: 4px 5px 4px; 
  color: #fff; 
  background-color: #0067ab; 
  text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
  font-size: 14px; 
  box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
  border: 1px solid #0164a5; 
  border-radius: 2px; 
  margin-top: 10px; 
  cursor:pointer;
}
.search input[type='submit']:hover {
  background-color: #024978;
} 

.menu{
    flex: 5;
    display: flex;
    margin-left: 80px;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .menu-3m{
    visibility: visible;
    top: 30px;
    background: #eeeeee
}
.menu-3m{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px o 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
}
.menu-3m ul {
    padding-left: 20px;
}
.menu-3m li a{
    font-weight: normal;
    font-size: 12px!important;
}
.menu > li:hover .menu-o{
    visibility: visible;
    top: 30px;
    background: #eeeeee;
}
.menu-o{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px o 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    
}
.menu-o ul {
    padding-left: 20px;
}
.menu-o li a{
    font-weight: normal;
    font-size: 12px!important;
}
.menu > li:hover .menu-m{
    visibility: visible;
    top: 30px;
    background: #eeeeee;
}
.menu-m{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px o 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
}
.menu-m ul {
    padding-left: 20px;
}
.menu-m li a{
    font-weight: normal;
    font-size: 12px!important;
}


.menu li a{
    font-size: 12px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
}
.right-header{margin-right: 50px;}
.right-header a{
    display: flex ;
    position: relative;
    margin: 0px 10px;
    font-size: 14px;
    color:  rgba(0, 0, 0, 0.7);
}
.right-header a:hover{
  color:  #1a0d8f;
  transition: all ease 0.2s;
}

ul.right-header ul.sub-login{
  position: absolute;
  padding: 5px ;
  list-style: none;
  width: 140px;
  display: none;
}
ul.right-header li:hover ul.sub-login{
  background-color: #ffffb3;
  display: block;
}
 ul.right-header ul.sub-login a{
  padding: 8px 15px;
  left:0;
  
}
ul.list_CN{
  padding: 0;
  width: 100%;
  list-style: none;
  margin: 0 10px;
  line-height: 25px;
}
ul.list_CN li{
  float: left;
  margin-top: 0px;
  margin-right: 5px;
  padding: 0px;
}
ul.list_CN li a:hover{
  color: #088178;
}
ul.list_CN li a{
  text-decoration: none;
  text-align: center;
  color:rgb(0, 0, 0);
  font-weight: bold;
}

ul.list_CN ul.sub-login{
  position: absolute;
  padding: 0px ;
  list-style: none;
  width: auto;
  display: none;
}
ul.list_CN ul.sub-login a{
  padding: 0px 0px;
  left : 0;
}
ul.list_CN li:hover ul.sub-login{
  background: #eeeeee;
  display: block ;
}


.aspect-ratio-169 {
  display: block;
  position: relative;
  padding-top: 56.25%;
}

.aspect-ratio-169 img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.logo{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*background*/
.background{
  margin-left: 15px;
}

.menuu{
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
}
.menuu button{
padding: 4px 5px 4px; 
color: #fff; 
background-color: #7f97ed; 
text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
font-size: 14px; 
box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
border: 2px solid #0164a5; 
border-radius: 2px; 
margin-top: 10px; 
width: 150px;
padding: 7px 0;
cursor:pointer;
border-radius: 10px;

}
.menuu button :hover{
background-color: #b31f27; 
}

/* footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
.footer-distributed{
  background: #eeeeee;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 10px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #000000;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #000000;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #000;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #000;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #000;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}


.clear{
  clear: both;
}